*, *::after, *::before {
  box-sizing: border-box;
}

p {
  color: blue;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  p {
    color: pink;
  }
}
@media screen and (max-width: 759px) {
  p {
    color: aqua;
  }
}

.grid-1 {
  width: cal(8.3333333333%-20px);
}

.grid-2 {
  width: cal(16.6666666667%-20px);
}

.grid-3 {
  width: cal(25%-20px);
}

.grid-4 {
  width: cal(33.3333333333%-20px);
}

.grid-5 {
  width: cal(41.6666666667%-20px);
}

.grid-6 {
  width: cal(50%-20px);
}

.grid-7 {
  width: cal(58.3333333333%-20px);
}

.grid-8 {
  width: cal(66.6666666667%-20px);
}

.grid-9 {
  width: cal(75%-20px);
}

.grid-10 {
  width: cal(83.3333333333%-20px);
}

.grid-11 {
  width: cal(91.6666666667%-20px);
}

.grid-12 {
  width: cal(100%-20px);
}

[class^=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 759px) {
  [class^=grid-] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: cal(8.3333333333%10px);
}

.offset-2 {
  margin-left: cal(16.6666666667%10px);
}

.offset-3 {
  margin-left: cal(25%10px);
}

.offset-4 {
  margin-left: cal(33.3333333333%10px);
}

.offset-5 {
  margin-left: cal(41.6666666667%10px);
}

.offset-6 {
  margin-left: cal(50%10px);
}

.offset-7 {
  margin-left: cal(58.3333333333%10px);
}

.offset-8 {
  margin-left: cal(66.6666666667%10px);
}

.offset-9 {
  margin-left: cal(75%10px);
}

.offset-10 {
  margin-left: cal(83.3333333333%10px);
}

.offset-11 {
  margin-left: cal(91.6666666667%10px);
}

.offset-12 {
  margin-left: cal(100%10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}